body {
  margin:0px;
  background-color:rgba(255, 255, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:51px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:51px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:21px;
  width:88px;
  height:20px;
}
#u786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background-color:#336699;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:35px;
  height:35px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_ann {
  border-width:0px;
  position:absolute;
  left:34px;
  top:2px;
  width:1px;
  height:1px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:21px;
  width:60px;
  height:25px;
}
#u789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#336699;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFF66;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:11px;
  width:35px;
  height:35px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:11px;
  width:35px;
  height:35px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:61px;
  width:97px;
  height:39px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:382px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:129px;
  width:953px;
  height:382px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:183px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:52px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:164px;
  width:53px;
  height:52px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:164px;
  width:348px;
  height:30px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u800_ann {
  border-width:0px;
  position:absolute;
  left:517px;
  top:160px;
  width:1px;
  height:1px;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:194px;
  width:433px;
  height:27px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:429px;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:235px;
  width:300px;
  height:27px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:272px;
  width:692px;
  height:77px;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:199px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:215px;
  height:30px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:211px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:0px;
  width:151px;
  height:30px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:203px;
  height:42px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:42px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:30px;
  width:215px;
  height:42px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:211px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:30px;
  width:118px;
  height:42px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:30px;
  width:151px;
  height:42px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:354px;
  width:165px;
  height:38px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:406px;
  width:61px;
  height:32px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:406px;
  width:51px;
  height:32px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:448px;
  width:201px;
  height:40px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u829_ann {
  border-width:0px;
  position:absolute;
  left:978px;
  top:444px;
  width:1px;
  height:1px;
}
