body {
  margin:0px;
  background-color:rgba(255, 255, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:161px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:1053px;
  height:161px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:145px;
  width:1038px;
  height:48px;
}
#u833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:206px;
  width:40px;
  height:40px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_ann {
  border-width:0px;
  position:absolute;
  left:49px;
  top:202px;
  width:1px;
  height:1px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:221px;
  width:113px;
  height:25px;
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:167px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:269px;
  width:1057px;
  height:167px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:315px;
  width:1038px;
  height:48px;
}
#u839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:48px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:376px;
  width:40px;
  height:40px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_ann {
  border-width:0px;
  position:absolute;
  left:49px;
  top:372px;
  width:1px;
  height:1px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:391px;
  width:113px;
  height:25px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:177px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:439px;
  width:1058px;
  height:177px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:1054px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:495px;
  width:1039px;
  height:48px;
}
#u845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:48px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:556px;
  width:40px;
  height:40px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_ann {
  border-width:0px;
  position:absolute;
  left:49px;
  top:552px;
  width:1px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:571px;
  width:113px;
  height:25px;
}
#u848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:166px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:620px;
  width:1058px;
  height:166px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:1054px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:665px;
  width:1039px;
  height:48px;
}
#u851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:48px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:726px;
  width:40px;
  height:40px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_ann {
  border-width:0px;
  position:absolute;
  left:49px;
  top:722px;
  width:1px;
  height:1px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:741px;
  width:113px;
  height:25px;
}
#u854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1060px;
  height:5px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:266px;
  width:1057px;
  height:2px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1060px;
  height:5px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:436px;
  width:1057px;
  height:2px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1087px;
  height:5px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:616px;
  width:1084px;
  height:2px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1080px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1130px;
  height:5px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:784px;
  width:1127px;
  height:2px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:221px;
  width:174px;
  height:25px;
}
#u863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:391px;
  width:174px;
  height:25px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:571px;
  width:174px;
  height:25px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:741px;
  width:174px;
  height:25px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:221px;
  width:61px;
  height:25px;
}
#u867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:391px;
  width:61px;
  height:25px;
}
#u868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:571px;
  width:61px;
  height:25px;
}
#u869_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:741px;
  width:61px;
  height:25px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1053px;
  height:55px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1049px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:1053px;
  height:21px;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:278px;
  width:1053px;
  height:21px;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  word-wrap:break-word;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:455px;
  width:1053px;
  height:21px;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  word-wrap:break-word;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:634px;
  width:1053px;
  height:21px;
  font-family:'方正舒体 Bold Oblique', '方正舒体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  word-wrap:break-word;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:221px;
  width:82px;
  height:25px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:391px;
  width:70px;
  height:25px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:571px;
  width:61px;
  height:25px;
}
#u883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:741px;
  width:61px;
  height:25px;
}
#u884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:#D7D7D7;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:51px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:51px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:21px;
  width:88px;
  height:20px;
}
#u887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background-color:#336699;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:35px;
  height:35px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_ann {
  border-width:0px;
  position:absolute;
  left:34px;
  top:2px;
  width:1px;
  height:1px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:21px;
  width:60px;
  height:25px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#336699;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFF66;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:11px;
  width:35px;
  height:35px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:206px;
  width:40px;
  height:40px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:376px;
  width:40px;
  height:40px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:556px;
  width:40px;
  height:40px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:726px;
  width:40px;
  height:40px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:61px;
  width:97px;
  height:39px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
